@media screen and (max-width: 992px) {
    main {
        margin-top: 30px;
    }

    .main-content-container {
        align-items: center;
        gap: 10px;
    }

    .main-title {
        font-size: 34px;
        text-align: center;
    }

    .main-description {
        width: 100%;
        text-align: center
    }

    .main-button {
        align-self: unset;
    }
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-size: 120%;
        background-position: -123% -23%;
    }
}

@media screen and (max-width: 768px) {
    #main-content {
        order: 1;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    body {
        background-position: -30% -80%;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    body {
        background-size: 120%;
        background-position: -41% -332%;
    }
}